#cab-cardapio{
    margin-bottom: 1em;
}

#cab-cardapio .title{
    font-weight: 700;
    font-size: 30pt;
    margin-bottom: 3em;
    position: relative;                     /*Relativo pois tera um conteudo de pseudoelemento atrelado ao titulo, que aplicara uma borda em cima com um detalhe*/
                                            /*E esse conteudo tera uma posição absoluta*/

}

.title:before{                              /*Borda acima do titulo*/
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
}

#cab-cardapio button{
    margin-top: 7em;
    margin-bottom: 0;
}

#btn-pedidos span{
    display: none;
}

.titulo-central{
    margin-top: 7em;
}

@media only screen and (max-width: 600px){ /*Adicionar os elementos enquanto a tela for menor que 600px (tela de celular)*/
    #cab-cardapio .title{
        margin-bottom: 1em;
    }

    #cab-cardapio button{
        margin-top: 0;
    }
}