@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

/* SESSÃO DAS CORES PRINCIPAIS */

.color-A01{background: #f8d5af;}

.color-A02{background: #bf8c56;}

.color-A03{background: #351700;}

/* SESSÃO DAS CORES LIGHT -> DARK */

.color-B01{background: #F2F2F2;}

.color-B02{background: #F7F8E0;}

.color-B03{background: #424242;}

.color-B04{background: #00000056;}

/* SESSÃO DAS CORES PRINCIPAIS EM FONTES */

.font-color-A01{color: #f8d5af;}

.font-color-A02{color: #bf8c56;}

.font-color-A03{color: #351700;}

/* SESSÃO DAS CORES LIGHT -> DARK EM FONTES */

.font-color-B01{color: #F2F2F2;}

.font-color-B02{color: #F7F8E0;}

.font-color-B03{color: #424242;}

.font-color-B04{color: #00000056;}

/* SESSÃO DAS CORES DESCONEXAS */

.color-C01{background: #800000;}

.font-color-C01{color: #800000;}

.color-C02{background: #B22222;}

.font-color-C02{color: #B22222;}

.color-C03{background: #A52A2A;}

.font-color-C03{color: #A52A2A;}

.color-C04{background: #FA8072;}

.font-color-C04{color: #FA8072;}

.color-C05{background: #E9967A;}

.font-color-C05{color: #E9967A;}